.topdiv {
    width: 100%;
    height: 15vh;
    background-color: #0D2535;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 19px;
}



.statistics {
    width: 98.3%;
    height: 70vh;
    background-color: #ffff;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

