html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
  background: #ffff; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #30B938; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Round the corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}


.Landing-Container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.Landing-BG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-container {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.logodiv {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
}

.Energreen-logo {
  height: 40px;
  margin-right: 10px;
}

#App-Name {
  color: #110142;
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  padding: 0;
}

#Name-Span {
  color: #30B938;
}

.Log-Sign {
  display: flex;
  gap: 40px;
}

.sign-up {
  background-color: #4CAF50;
  border-radius:20px;
  border: none;
  color: white;
  cursor: pointer;
}

.Log-Sign, .login, .sign-up {
  padding: 8px 40px;
  cursor: pointer;
  font-size: 22px;
  
}
.login{
  background-color: #ffff;
  border: none;
  border-radius: 20px;
  color: #30B938;
  cursor: pointer;
  border: 1px solid #30B938;
}
.tagline{
  position: absolute;
  top: 5em;
  left: 6em;
  font-size: 1.5em;
}
#headline{
  font-size: 80px;
}

.start-monitoring-button, .start-monitoring-button2{
  margin-top: 2em;
  width: 352px;
  padding: 20px;
  background-color: #4CAF50;
  border-radius:20px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
}
#mini-tagline{
  margin-top: -2em;
}
.Second-landing, .Fourth-landing{
  width: 100%;
  height: auto;
} 
/* .curved-shape {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #008000, #002600);
  border-radius: 50% 50% 50% 0%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */
.Third-Landing{
  width: 100vw;
  height: auto;
  background: linear-gradient(to bottom, #4CAF50, #002c4c);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.The-How{
  width: 100%;
  font-weight: bold;
  color: #ffff;
  font-size: 75px
}
.how-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 80vh;
  gap: 20px;
}
.Division{
  width: 700px;
  height: 650px;
  background-color: #ffff;
  border-radius: 20px;
}
.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  gap: 10px;
  
}
.definition{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}
#content-heading{
  font-size: 32px;
  font-weight: bold;
}
#def{
  font-size: 24px;
  margin-top: -1.5em;
  color: #666666;
  width: 430px;
  /* margin-bottom: 1em; */
}
#def-1{
  font-size: 24px;
  margin-top: -1.5em;
  color: #666666;
  width: 415px;
}
#Info{
  width: 300px;
}
#info-img{
  margin-top: 1em;
}
#sec-img{
  position: relative;
  bottom: 5px;
}
#sec-img1{
  position: relative;
  top: 5px;
}
.Second-landing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.secdiv-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  width: 90%;
}
.secdivtext-content{
  width: 100%;
}
#secdiv-headline{
  font-size: 30px;
  font-weight: bold;
}
.secondiv-span{
  font-weight: bold;
}
#secdiv-headline{
  font-weight: 900;
}
#secdiv-miniline{
  font-size: 25px;
}
.Fourth-landing{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fourth-headline{
  margin-top: -2em;
}
.footer{
  width: 100vw;
  height:5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0D2535;
  color: #666666;
}
.popup, .regpopup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 550px;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.60); /* Dark background with transparency */
  z-index: 900; /* Below the popup */
  display: none; /* Hide initially */
}



.close-btn:hover {
  color: black;
  cursor: pointer;
}
.left-side, .right-side{
  width: 450px;
  height: 500px;

}
.popup-content{
  display: flex;
  flex-direction: row;
  gap: 0;
}
.left-side{
  margin-left: 30px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#left-partition{
  margin-top: 10px;
}
#green-logo{
  display:  flex;
  align-items: center;
  position: absolute;
  margin-left: 20px;
  flex-direction: row;
  margin-bottom: 8em;

}
#welcome{
  margin: 0;
  padding: 0;
  padding-left: 0.9em;
}
.welcome-message {
  width: 300px;
}

.welcome-message p {
  font-size: 1.5em;
}

#logodesu{
  position: relative;
  bottom: 4em;
}
#logodesu img{
  width: 6.5em;
  height: 5em;
  margin: 0;
}
#Namaewa{
  color: #110142;
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  padding: 0;
  padding-left: 0.2em;
}
.right-side{
  display: flex;
}
.right-side,.rightside-reg{
  background-color: #0D2535;
  border-radius: 0 20px 20px 0;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffff;
  width: 100%;
}

.logsign{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-area{
  display: flex;
  flex-direction: column;
  height: 10%;
}
.input-area input{
  flex-direction: column;
  border-radius: 15px;
  height: 15%;
  padding: 15px;
  margin: 15px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  width: 300px;
}
.button-area{
 margin-top: 1em;
 margin-bottom: 1em;
}
.btn-area{
  margin-top: 0.5em;
}

.button-area button{
  width: 50%;
  border-radius: 25px;
  padding: 10px;
  background-color: #30B938;
  color: #ffff;
  border: none;
  height: 3em;
  font-size: 1em;
  cursor:pointer;
}
.donesolar-btn{
  margin-bottom: 10px;
}
.donesolar-btn button{
  width: 150px;
  border-radius: 15px;
  padding: 10px;
  background-color: #30B938;
  color: #ffff;
  border: none;
  cursor: pointer;
}

.donetariff-btn{
  position: absolute;
  z-index: 1;
  margin-top: 30em;
  
}
.donetariff-btn a{
  width: 120px;
  border-radius: 15px;
  padding: 10px 45px;
  background-color: #30B938;
  color: #ffff;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
#donebtn{
  margin-top: 1em;
}
.signin{
  font-size: 14px;
}
#signin{
  font-weight: bold;
}
#signspan, #logspan{
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
}
#login{
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#register{
  font-size: 35px;
  margin: 10px;
  padding: 0;
}
.password-container {
    position: relative;
    width: 100%;
}

#password-input, #acc-password-input, #confirm-password-input {
    height: 35px;
    width: 92%;
    padding-right: 40px; /* Space for the eye icon */
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.toggle-password {
    position: absolute;
    right: 15px;
    top: 48%;
    right: 10%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #888;
}
.setup-popup, .panel-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 650px;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setup-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.setuphead {
  position: absolute;
  width: 60%;
  top: -3%; 
  left: -7%; 
  z-index: 1;
}
.setuphead h1{
  font-size: 40px;
}


.sortbtn {
  position: absolute;
  top: 28%; 
  right: -7%; 
  z-index: 1;
}
.sortbtn button{
  display: flex;
  width: 150px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #ffff;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  
}
.selectAppliances {
  position: absolute;
  top: 35%;
  width: 115%;
  height: 50vh; 
  background-color: #0D2535;
  z-index: 1;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow: auto;
}

.confirmbtn {
  position: absolute;
  top: 105%; 
  left: -7%;
  z-index: 1; 
}
.confirmbtn button{
  display: flex;
  width: 150px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #ffff;
  gap: 15px;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

#setupbg {
  width: 1200px;
  height: auto; 
}
#solarbg {
  width: 1300px;
  height: 800px; 
}
#appliances-shelf{
  width: 100%;
  height: 35vh;
  background-color: #0D2535;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow divs to wrap onto the next line */
}
#appliances-shelf a{
  text-decoration: none;
  color: #110142;
  font-weight: 600;
}
.app {
  width: 139px;
  height: 46px;
  background-color: #ffff;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 12px;
  gap: 10px;
  padding: 0 5px ;
}
.SelectSolarPanel{
  position: absolute;
  top: 30%;
  background-color: transparent;
  width: 115%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

}

.solarpaneldiv{
  width: 60vw;
  height: 105%;
  background-color: #ffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: height 0.4s ease; /* Smooth transition for height */
  

}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hidden Checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc ;
  transition: 0.4s;
  border-radius: 34px;
}

/* Circle within Slider */
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When Checked */
input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.solarname-switch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5em;
  height: 50px;
}
#solardesc{
  padding: 5px;
  margin-left: 18px;
  margin-right: 20px;
  position: relative;
  bottom: 20px;
  font-size: 14px;
  
}
.quandiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.solarname p{
  margin:0;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
}
.solarinfo-specifications{
  margin-top: -2em;
  width: 95%;
  height: 30vh;
  background-color: #ffff;
  border-radius: 10px;
  border: 2px solid #d9d9d9;
  display: flex;
  flex-direction: column;
}
#sinf, #specs{
  font-size: 14px;
  margin: 0;
  padding: 0;
  position: relative;
  left: 1em;
}
#specs{
  font-weight: bold;
}
#efficon{
  position: relative;
  top: 5px;
}
#watt, #efficiency, #tempt{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  margin: 10px;
}
.watc{
  margin-left: 2px;
}
#wattcap p{
  margin: 0;
  padding: 0;
}
#efficon{
  margin-left: 2px;
}
#wew1{
  font-weight: bold;
}
hr {
  border: 1px solid #ccc; /* Adjust color and thickness as needed */
  width: 90%; /* Ensure it spans the width of the container */
  margin-left: 12px; /* Optional: Add some spacing above and below */
}
.quanimg{
  margin-top: 5px;
}
.bottom {
  display: none; /* Initially hidden */
  transition: opacity 0.4s ease; /* Smooth transition for visibility */
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease; /* Smooth transition for visibility and height */

}

.solarpaneldiv.show .bottom {
  display: flex;
  opacity: 1;
  flex-direction: column;
}
#tariff-page-popup{
  align-items: center;
}
.TariffHead{
  position: absolute;
  z-index: 1;
  left: 25%;
  top: 10%;
}
.TariffHead h1{
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.TariffHead p{
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.tariff-content .dropdown-section {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Adjust spacing between dropdowns */
  margin-top: 15em;
  border-radius: 15px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 15px;

}

select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; /* Remove default dropdown arrow */
}

.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent click on icon */
  font-size: 16px;
  color: #666;
}
.tariff-content{
  display: flex;
  justify-content: center;
}
#provider2, #provider1, #provider3{
  
  border-radius: 15px;
  color: gray;
  outline: none;
}

#lab{
  position: relative;
  bottom: 0.5em;
}

 option:hover {
    background-color: #4CAF50 !important;
    color: white;
}