.settings-container{
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.user-settings{
    display: flex;
    width: 80%;
    height: 80vh;
    background-color: #ffff;
    border-radius: 20px;
    overflow: hidden;
    flex-direction: column;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffff;
}

#settings-section img{
    width: 90px;
    height: 90px;
}
#settings-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    gap: 20px;
    background-color: #ffff;
    margin: 20px;
}
.settings-status {
    display: flex;
    align-items: center;
    gap: 30px; /* Adjust the gap as needed */
}

.settings-status img {
    width: 30px; /* Adjust width as needed */
    height: 30px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#settings-name {
    font-weight: bold;
    margin: 0;
    font-size: 35px;
}

.settings-status p {
    margin: 0;
    font-size: 1.2em; /* Slightly smaller to distinguish "Admin" */
}

.change-pp button{
    border: none;
    background-color: #30B938;
    color: #ffff;
    padding: 12px 25px;
    margin-top: 2em;
    margin-right: 4em;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

}
hr {
    border: 1px solid #ccc; /* Adjust color and thickness as needed */
    width: 90%; /* Ensure it spans the width of the container */
    margin-top: 20px;
    margin-bottom: 15px;
  }
.fname-mname {
    width: 100%;
    display: flex;
    gap: 20px; /* Adjust spacing between input groups as needed */
    flex-direction: row;
    margin: 0 40px;
}

.input-group, .addressinput-group, .confirminput-group {
    display: flex;
    flex-direction: column;
}

.input-group, .addressinput-group, .confirminput-group label {
    margin-bottom: 5px; /* Space between label and input */
    font-weight: 500;
   
}
.input-group input{
    width: 52.5vh;
    height: 5vh;
    border-radius: 5px;
    border: 1px solid black;
}
.addressinput-group input{
    width: 73vh;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid black;

}
.confirminput-group input{
    width: 73vh;
    height: 3vh;
    border-radius: 5px;
    border: 1px solid black;

}
.save-cancelbtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-right: 2.3em;
}


.save-cancelbtn button{
    padding: 12px 25px;
    margin-top: 2em;
    width: 500px;
    height: 7vh;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor:pointer;
}
.save button{
    background-color: #30B938;
    color: #ffff;
    border: none;
}
.cancel button{
    background-color: #ffff;
    color: #30B938;
    border: 1px solid #30B938;
}


.input-icon i {
    position: absolute;
    left: 10px; /* Adjust the position */
    top: 50%;
    transform: translateY(-50%);
    color: #999; /* Icon color */
}

.input-icon input {
    padding-left: 30px; /* Adjust padding to fit the icon */
}
.input-icon {
    position: relative;
}

.input-icon i {
    color: #999;
}

.input-icon i:first-of-type {
    position: absolute;
    left: 10px; /* Left icon (field type) */
    top: 50%;
    transform: translateY(-50%);
}

.input-icon input {
    padding-left: 30px; /* Space for the left icon */
    padding-right: 30px; /* Space for the right eye icon */
}

.input-icon i.toggle-password {
    position: absolute;
    left: 90%; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
