{% extends 'AdminDashTemplate.html' %}
{% block content %}
<style>
    /* Ensure the table is centered */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

/* Styling for the table */
.styled-table {
    width: 80%;
    border-collapse: collapse;
}

/* Styling for the table header with light green */
.styled-table thead {
    background-color: #30B938;  /* Light green color */
    color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}
.styled-table td{
    background-color: #f2f2f2;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tbody tr:hover {
    background-color: #ddd;
}

</style>
<div style="display: flex;justify-content:center;align-items:center;padding-top: 1em;">
    <h1><span style="color: #30B938;text-align:center">Active Users</span></h1>
</div>
<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Fullname</th>
                <th>Solar Panel</th>
                <th>Panel Quantity</th>
                <th>Tariff Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%  for record in records %}
            <tr>
                <td>{{record['email']}}</td>
                <td>{{record['fullname']}}</td>
                <td>{{record['panelname']}}</td>
                <td>{{record['panel_quantity']}}</td>
                <td>{{record['tariffcompany']}}</td>
                <td><a href="#">Suspend</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}