{%extends 'UserDashboardTemplate.html'%}
{% block content %}
<div id="appliance-page-container" style="height:700px;background-color:white">
    <canvas id="costLineChart"></canvas>
</div>
<script>
const xValues = ['MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY','FRIDAY','SATURDAY', 'SUNDAY'];
const yValues = [31, 45, 36, 24, 48, 59, 64];
const yValuesGreen = [25, 31, 30, 19, 34, 42, 51];

new Chart("costLineChart", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [
            {
                label: "Cost in Pesos", // First line
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(244,190,55,1)",
                borderColor: "rgba(244,190,55,0.8)",
                borderWidth: 2,
                data: yValues
            },
            {
                label: "Cost with Green Energy", // Second line
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(46,156,53,1)",
                borderColor: "rgba(0,255,155,0.8)",
                borderWidth: 2,
                data: yValuesGreen
            }
        ]
    },
    options: {
        responsive: true,
        plugins: {
            legend: {
                display: true, // Ensure the legend is displayed
                position: 'left', // Position of the legend
            }
        },
        scales: {
            y: {
                ticks: {
                    stepSize: 10 // Optional: set step size for y-axis ticks
                }
            }
        }
    }
});
</script>
    
{% endblock %}