<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/Landing.css">
    <title>Green Energy Consumption Monitoring App</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>
<body>
    <div class="Landing-Container">
        <div class="Landing-BG">
            <div class="header-container">
                <div class="logodiv">
                    <img src="../static/images/logo/logo.svg" alt="Logo" class="Energreen-logo">
                    <p id="App-Name"><span id="Name-Span">Ener</span>Green</p>
                </div>
                <div class="Log-Sign">
                    <button class="login">Log in</button>
                    <button class="sign-up">Sign Up</button>
                </div>
            </div>
            <div class="tagline">
                <h1 id="headline">Every <span id="Name-Span" >watt</span> you spare, <br> brings <span id="Name-Span" >cleaner</span> skies and <br><span id="Name-Span">fresher air.</span> </h1>
                <div id="mini-tagline">
                   <p> Together, small energy-saving actions lead to <br> a greener, healthier planet for all.</p>
                </div>
                <div class="start-monitoring">
                    <button class="start-monitoring-button">Start Monitoring</button>
                </div>
            </div>
            <img src="../static/images/png/landingBG 3.png" alt="">
        </div>

        <div class="Second-landing">
            <div class="secdiv-container">
                <div class="secdivimg-content">
                    <img src="../static/images/png/Saec-div-img.png" alt="sec-div img" width="700" height="600">
                </div>
                <div class="secdivtext-content">
                    <div id="secdiv-headline">
                        <h1>Why Use <span id="Name-Span">Ener</span>Green? </h1>
                    </div>
                    <div id="secdiv-secheadline">
                        <h1>Our app empowers you to:</h1>
                    </div>
                    <div id="secdiv-miniline">
                        <p><span class="secondiv-span" id="Name-Span">Save Money</span>: Track and reduce energy use to lower bills.</p>
                    </div>
                    <div id="secdiv-miniline">
                        <p><span class="secondiv-span" id="Name-Span">Adopt Eco-Friendly Habits</span>: Make mindful, sustainable choices.</p>
                    </div>
                    <div id="secdiv-miniline">
                        <p></p><span class="secondiv-span" id="Name-Span">Reduce Your Carbon Foorprint</span>: Join the journey to a cleaner planet by cutting emissions.</p>
                    </div>

                </div>
            </div>
            <img src="../static/images/png/Second-div-bg.png" alt="">
        </div>
        

        <div class="Third-Landing">
            <div class="head">
                <h1 class="The-How">Empower Your Path to Efficiency</h1>
            </div>
            <div class="how-container">
                <div class="real-timeDiv Division">
                    <div class="content">
                        <div>
                            <img src="../static/images/svg/Real-time icon.svg" alt="Real - Time Icon" width="78" height="79">
                        </div>
                        <div id="Info">
                            <h2 id="content-heading"> Real - Time Monitoring</h2>
                        </div>

                    </div>

                    <div class="definition">
                        <div id="def">
                            <p>Track Live energy Data to see exactly how much you're using and producing</p>
                        </div>
                        <div>
                            <img src="../static/images/png/content-1.png" alt="Image">
                        </div>
                    </div>
                </div>

                <div class="Data-AnalysisDiv Division">
                    <div class="content">
                        <div id="sec-img">
                            <img src="../static/images/svg/Data-Anal.svg" alt="Real - Time Icon" id="info-img" width="78" height="79">
                        </div>
                        <div id="Info">
                            <h2 id="content-heading"> Data Analytics Report</h2>
                        </div>

                    </div>
                    <div class="definition">
                        <div id="def-1">
                            <p> Access detailed insights into your energy consumption, solar production, and trends over time</p>
                        </div>
                        <div>
                            <img src="../static/images/png/Data-img.png" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="Quick-EasyDiv Division">
                    <div class="content">
                        <div id="sec-img1">
                            <img src="../static/images/svg/Quick.svg" alt="Real - Time Icon" width="78" height="79">
                        </div>
                        <div id="Info">
                            <h2 id="content-heading">Quick and Easy Setup</h2>
                        </div>

                    </div>
                    <div class="definition">
                        <div id="def">
                            <p>Start monitoring in a few simple steps and explore realistic energy simulations</p>
                        </div>
                        <div>
                            <div>
                                <img src="../static/images/png/Quick -Ease.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Fourth-landing">
            <div class="secdiv-container">
                <div class="secdivtext-content">
                    <div class="fourth-headline" id="secdiv-headline">
                        <h1>Ready to <span class="secondiv-span" id="Name-Span">Make </span> a Difference? Start <span id="Name-Span">Monitoring</span> Today! </h1>
                    </div>
                    <div id="secdiv-miniline">
                        <p> Take Control of your energy usage and contribute to a <span id="Name-Span">Greener</span> planet</p>
                    </div>
                    <div id="secdiv-miniline">
                        <p> Join a community of echo-concious users, track your impact, and make every <span id="Name-Span">watt</span> count</p>
                    </div>
                    <div class="start-monitoring">
                        <button class="start-monitoring-button2">Start Monitoring</button>
                    </div>
                </div>
                <div class="secdivimg-content">
                    <img src="../static/images/png/Fourth-land-img.png" alt="sec-div img" width="700" height="500">
                </div>
            </div>
            <img src="../static/images/png/Fourth-landing-BG.png" alt="">
        </div>
          
        <div class="footer">
            <p>&copy; 2024 EnerGreen. All rights reserved.</p>
        </div>
    </div>

    <div id="overlay" class="overlay" style="display: none;"></div>

    <div id="login-popup" class="popup" style="display: none;">
        <div class="popup-content">
            <div class="left-side">
                <div id="green-logo">
                    <div id="logodesu" >
                        <img src="../static/images/png/Big-Logo.png" alt="Logo" class="Energreen-logo">
                    </div>

                    <div id="hello">
                        <p id="welcome">Welcome to</p>
                        <p id="Namaewa" ><span id="Name-Span">Ener</span>Green</p>

                        <div class="welcome-message">
                            <p>Log in to start tracking your energy and start making a difference</p>
                        </div>
                        
                    </div>
                </div>

                <img id="left-partition" src="../static/images/png/login-partition.png" alt="left side" width="500" height="509" >
            </div>

            <div class="right-side">
                <div class="logsign">

                    <h1 id="login">Log in</h1>
                    
                    <div class="input-area">
                        <input id="username-input" type="text" id="username" placeholder="Username" required>

                        <div class="password-container">
                            <input id="password-input" type="password" placeholder="Password" required>
                            <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('password-input', this)"></i>
                        </div>

                    </div>
                    <div class="button-area">
                        <button class="to-enter-btn">LOGIN</button>
                    </div>
                    <div class="signin">
                        <p>Dont have and account yet? <span id="signin"><a id="signspan">Sign in</a></span></p>
                    </div>
        
                </div>
            </div>

        </div>
    </div>


    <div id="register-popup" class="regpopup" style="display: none;">
        <div class="popup-content">
            <div class="left-side">
                <div id="green-logo">
                    <div id="logodesu" >
                        <img src="../static/images/png/Big-Logo.png" alt="Logo" class="Energreen-logo">
                    </div>

                    <div id="hello">
                        <p id="welcome">welcome to</p>
                        <p id="Namaewa" ><span id="Name-Span">Ener</span>Green</p>

                        <div class="welcome-message">
                            <p>Register now to start tracking your energy and making a difference</p>
                        </div>
                        
                    </div>
                </div>

                <img id="left-partition" src="../static/images/png/login-partition.png" alt="left side" width="500" height="509" >
            </div>

            <div class="rightside-reg">
                <div class="logsign">
                    <p id="register">Create Account</p>
                    <form class="input-area" action="#" method="POST">
                        <input id="username-input" type="text" id="username" placeholder="Username" required>
                        <input id="username-input" type="text" id="email" placeholder="Email" required>

                        <div class="password-container">
                            <input id="acc-password-input" type="password" placeholder="Password" required>
                            <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('acc-password-input', this)"></i>
                        </div>
                            
                        <div class="password-container">
                            <input id="confirm-password-input" type="password" placeholder="Confirm Password" required>
                            <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('confirm-password-input', this)"></i>
                        </div>                        
                            
                        <div  class="button-area" id="donebtn">
                            <input class="done-btn" type="submit" value="DONE" name="doneregister">
                        </div>
                        <div class="signin">
                            <p>Already Have an Account? <span id="signin"><a id="logspan">Log in</a></span></p>
                        </div>
                    </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    
    <div id="register-popup" class="regpopup" style="display: none;">
        <div class="popup-content">
            <div class="left-side">
                <div id="green-logo">
                    <div id="logodesu" >
                        <img src="../static/images/png/Big-Logo.png" alt="Logo" class="Energreen-logo">
                    </div>

                    <div id="hello">
                        <p id="welcome">welcome to</p>
                        <p id="Namaewa" ><span id="Name-Span">Ener</span>Green</p>

                        <div class="welcome-message">
                            <p>Register now to start tracking your energy and making a difference</p>
                        </div>
                        
                    </div>
                </div>

                <img id="left-partition" src="../static/images/png/login-partition.png" alt="left side" width="500" height="509" >
            </div>

            <div class="rightside-reg">
                <div class="logsign">

                    <p id="register">Create Account</p>
                    
                    <div class="input-area">
                            <input id="username-input" type="text" id="username" placeholder="Username" required>
                            <input id="username-input" type="text" id="email" placeholder="email" required>

                            <div class="password-container">
                                <input id="acc-password-input" type="password" placeholder="Password" required>
                                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('acc-password-input', this)"></i>
                            </div>
                            
                            <div class="password-container">
                                <input id="confirm-password-input" type="password" placeholder="Confirm Password" required>
                                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('confirm-password-input', this)"></i>
                            </div>                        
                            
                        <div  class="button-area" id="donebtn">
                            <button>DONE</button>
                        </div>
                        <div class="signin">
                            <p>Already Have an Account? <span id="signin"><a id="logspan">Log in</a></span></p>
                        </div>
        
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="setup-page-popup" class="setup-popup" style="display: none;">
        <div class="setup-content">
            <div class="setuphead">
                <h1>Setup Virtual  Appliances</h1>
                <p id="setuptext">"Select from a wide range of essential and innovative appliances used within your home to enhance comfort,
                     convenience, and effecieny "</p>
            </div>
            <div class="sortbtn">
                <button>Sort By <img src="../static/images/svg/sortvec.svg" alt=""> </button>
            </div>
            <div class="selectAppliances">
                <div id="appliances-shelf">
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Air Conditioner</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">TV(Television)</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Amplifiers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Celing Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Rice Cooker</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Kettle</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lamp</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Refrigerator</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Desktop Computter</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Oven</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Laptop</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Stove</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electic Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Clothes Iron</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Portabel Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Radio</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Washing Machine</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Samrt Phones</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lighting</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Water Dispencer</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">RGB Lighting</div></a>
                </div>

            </div>
           
            <div class="confirmbtn">
                <button class="confirm-btn">Confirm</button>
            </div>
            <img id="setupbg" src="../static/images/png/setUpPage-img.png" alt="set up page bg">
        </div>
    </div>
    
    <div id="panel-page-popup" class="panel-popup" style="display: none;">
        <div class="setup-content">
            <div class="setuphead">
                <h1>Pick Your Desired Solar Panel</h1>
                <p id="setuptext">"Select your ideal solar panel and watch you energy potential soar-let's simulate your journey 
                    to sustainable power!"</p>
            </div>

            <div class="selectAppliances">


            </div>
           
            <img id="setupbg" src="../static/images/png/setUpPage-img.png" alt="set up page bg">
        </div>
    </div>
    
    <script>
        // Existing code for buttons and popups
        const loginButton = document.querySelector('.login'); // "Log In" button
        const signUpButton = document.querySelector('.sign-up'); // "Sign Up" button
        const startmonitoringButton = document.querySelector('.start-monitoring-button');
        const startmonitoringButton2 = document.querySelector('.start-monitoring-button2');
        const toEnterMonitoringSystem = document.querySelector('.to-enter-btn')
        const DoneRegisterButton = document.querySelector('.done-btn')
        const confirmButton = document.querySelector('.confirm-btn')

        const loginPopup = document.getElementById('login-popup');
        const registerPopup = document.getElementById('register-popup');
        const setupPagePopup = document.getElementById('setup-page-popup');
        const PanelsetupPagePopup = document.getElementById('panel-page-popup');
        const overlay = document.getElementById('overlay');
        const closeButtons = document.querySelectorAll('.close-btn');

        // Event listener for "Log In" button
        loginButton.onclick = function() {
            loginPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }

        // Event listener for "Sign Up" button
        signUpButton.onclick = function() {
            registerPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }

        startmonitoringButton.onclick = function() {
            registerPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }

        startmonitoringButton2.onclick = function() {
            registerPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }
        toEnterMonitoringSystem.onclick = function(){
            setupPagePopup.style.display = 'block';
            overlay.style.display = 'block';
            if (loginPopup.style.display === 'block') {
                loginPopup.style.display = 'none';
            }if (registerPopup.style.display === 'block') {
                registerPopup.style.display = 'none';
            }
        }
        DoneRegisterButton.onclick = function(){
            setupPagePopup.style.display = 'block';
            overlay.style.display = 'block';
            if (loginPopup.style.display === 'block') {
                loginPopup.style.display = 'none';
            }if (registerPopup.style.display === 'block') {
                registerPopup.style.display = 'none';
            }
        }

        confirmButton.onclick = function(){
            PanelsetupPagePopup.style.display = 'block';
            overlay.style.display = 'block';
        }

        // Event listener for the Sign in link
        document.getElementById('signspan').onclick = function(event) {
            event.preventDefault(); // Prevent default link behavior
            // Hide the login popup if it's currently displayed
            if (loginPopup.style.display === 'block') {
                loginPopup.style.display = 'none';
            }
            // Show the register popup
            registerPopup.style.display = 'block'; 
            overlay.style.display = 'block'; // Show overlay
        }

        document.getElementById('logspan').onclick = function(event) {
            event.preventDefault(); // Prevent default link behavior
            // Hide the login popup if it's currently displayed
            if (registerPopup.style.display === 'block') {
                registerPopup.style.display = 'none';
            }
            // Show the register popup
            loginPopup.style.display = 'block'; 
            overlay.style.display = 'block'; // Show overlay
        }

        // Close buttons event
        closeButtons.forEach(button => {
            button.onclick = function() {
                loginPopup.style.display = 'none';
                registerPopup.style.display = 'none';
                overlay.style.display = 'none'; // Hide overlay
            }
        });

        // Close popup when clicking outside of it
        window.onclick = function(event) {
            if (event.target === overlay) {
                loginPopup.style.display = 'none';
                registerPopup.style.display = 'none';
                setupPagePopup.style.display = 'none';
                overlay.style.display = 'none';
                PanelsetupPagePopup.style.display = 'none';
            }
        }

        // Toggle password visibility for a specified input
        function togglePasswordVisibility(inputId, iconElement) {
            const passwordInput = document.getElementById(inputId);
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                iconElement.classList.replace("fa-eye", "fa-eye-slash");
            } else {
                passwordInput.type = "password";
                iconElement.classList.replace("fa-eye-slash", "fa-eye");
            }
        }

    </script>
    
    
</body>
</html>
