<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Green Energy Consumption Monitoring App</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    </style>
</head>
<body>
    <div class="Landing-Container">
        <div class="Landing-BG">
            <div class="header-container">
                <div class="logodiv">
                    <img src="../static/images/logo/logo.svg" alt="Logo" class="Energreen-logo">
                    <p id="App-Name"><span id="Name-Span">Ener</span>Green</p>
                </div>
                <div class="Log-Sign">
                    <button class="login">Log in</button>
                    <button class="sign-up">Sign Up</button>
                </div>
            </div>
            <div class="tagline">
                <h1 id="headline">Every <span id="Name-Span" >watt</span> you spare, <br> brings <span id="Name-Span" >cleaner</span> skies and <br><span id="Name-Span">fresher air.</span> </h1>
                <div id="mini-tagline">
                   <p> Together, small energy-saving actions lead to <br> a greener, healthier planet for all.</p>
                </div>
                <div class="start-monitoring">
                    <button id="start-monitoring-button">Start Monitoring</button>
                </div>
            </div>
            <img src="../static/images/png/landingBG 3.png" alt="">
        </div>

        <div class="Second-landing">
            <div class="secdiv-container">
                <div class="secdivimg-content">
                    <img src="../static/images/png/Saec-div-img.png" alt="sec-div img" width="700" height="600">
                </div>
                <div class="secdivtext-content">
                    <div id="secdiv-headline">
                        <h1>Why Use <span id="Name-Span">Ener</span>Green? </h1>
                    </div>
                    <div id="secdiv-secheadline">
                        <h1>Our app empowers you to:</h1>
                    </div>
                    <div id="secdiv-miniline">
                        <p><span class="secondiv-span" id="Name-Span">Save Money</span>: Track and reduce energy use to lower bills.</p>
                    </div>
                    <div id="secdiv-miniline">
                        <p><span class="secondiv-span" id="Name-Span">Adopt Eco-Friendly Habits</span>: Make mindful, sustainable choices.</p>
                    </div>
                    <div id="secdiv-miniline">
                        <p></p><span class="secondiv-span" id="Name-Span">Reduce Your Carbon Foorprint</span>: Join the journey to a cleaner planet by cutting emissions.</p>
                    </div>

                </div>
            </div>
            <img src="../static/images/png/Second-div-bg.png" alt="">
        </div>
        

        <div class="Third-Landing">
            <div class="head">
                <h1 class="The-How">Empower Your Path to Efficiency</h1>
            </div>
            <div class="how-container">
                <div class="real-timeDiv Division">
                    <div class="content">
                        <div>
                            <img src="../static/images/svg/Real-time icon.svg" alt="Real - Time Icon" width="78" height="79">
                        </div>
                        <div id="Info">
                            <h2 id="content-heading"> Real - Time Monitoring</h2>
                        </div>

                    </div>

                    <div class="definition">
                        <div id="def">
                            <p>Track Live energy Data top see exactly how much you're using and producing</p>
                        </div>
                        <div>
                            <img src="../static/images/png/content-1.png" alt="Image">
                        </div>
                    </div>
                </div>

                <div class="Data-AnalysisDiv Division">
                    <div class="content">
                        <div id="sec-img">
                            <img src="../static/images/svg/Data-Anal.svg" alt="Real - Time Icon" id="info-img" width="78" height="79">
                        </div>
                        <div id="Info">
                            <h2 id="content-heading"> Data Analytics Report</h2>
                        </div>

                    </div>
                    <div class="definition">
                        <div id="def-1">
                            <p> Access detailed insights into your energy consumption, solar production, and trends over time</p>
                        </div>
                        <div>
                            <img src="../static/images/png/Data-img.png" alt="Image">
                        </div>
                    </div>
                </div>
                <div class="Quick-EasyDiv Division">
                    <div class="content">
                        <div id="sec-img1">
                            <img src="../static/images/svg/Quick.svg" alt="Real - Time Icon" width="78" height="79">
                        </div>
                        <div id="Info">
                            <h2 id="content-heading">Quick and Easy Setup</h2>
                        </div>

                    </div>
                    <div class="definition">
                        <div id="def">
                            <p>Start monitoring in a few simple steps and explore realictic energy simulations</p>
                        </div>
                        <div>
                            <div>
                                <img src="../static/images/png/Quick -Ease.png" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Fourth-landing">
            <div class="secdiv-container">
                <div class="secdivtext-content">
                    <div class="fourth-headline" id="secdiv-headline">
                        <h1>Ready to <span class="secondiv-span" id="Name-Span">Make </span> a Difference? Start <span>Monitoring</span>Today! </h1>
                    </div>
                    <div id="secdiv-miniline">
                        <p> Take Control of your energy usage and contribute to a<span id="Name-Span">Greener</span>planet</p>
                    </div>
                    <div id="secdiv-miniline">
                        <p> Join a community of echo-concious users, track your impact, and make every <span id="Name-Span">watt</span> count</p>
                    </div>
                    <div class="start-monitoring">
                        <button id="start-monitoring-button">Start Monitoring</button>
                    </div>
                </div>
                <div class="secdivimg-content">
                    <img src="../static/images/png/Fourth-land-img.png" alt="sec-div img" width="700" height="500">
                </div>
            </div>
            <img src="../static/images/png/Fourth-landing-BG.png" alt="">
        </div>
          
        <div class="footer">
            <p>&copy; 2024 EnerGreen. All rights reserved.</p>
        </div>
    </div>

    <div id="overlay" class="overlay" style="display: none;"></div>

    <div id="login-popup" class="popup" style="display: none;">
        <div class="popup-content">
            <span class="close-btn" style="color: transparent;">&times;</span>
            <div class="left-side">
                <div id="green-logo">
                    <div id="logodesu" >
                        <img src="../static/images/png/Big-Logo.png" alt="Logo" class="Energreen-logo">
                    </div>

                    <div id="hello">
                        <p id="welcome">welcome to</p>
                        <p id="Namaewa" ><span id="Name-Span">Ener</span>Green</p>

                        <div class="welcome-message">
                            <p>Log in to start tracking your energy and start making a difference</p>
                        </div>
                        
                    </div>
                </div>

                <img id="left-partition" src="../static/images/png/login-partition.png" alt="left side" width="500" height="509" >
            </div>

            <div class="right-side">
                <div class="logsign">

                    <h1 id="login">Log in</h1>
                    
                    <div class="input-area">
                        <input id="username-input" type="text" id="username" placeholder="Username" required>

                        <div class="password-container">
                            <input id="password-input" type="password" placeholder="Password" required>
                            <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility()"></i>
                        </div>

                    </div>
                    <div class="button-area">
                        <button>LOGIN</button>
                    </div>
                    <div class="signin">
                        <p>Dont have and account yet? <span id="signin"><a id="signspan">Sign in</a></span></p>
                    </div>
        
                </div>
            </div>

        </div>
    </div>
    
    <script>
        const loginButton = document.querySelector('.login');
        const popup = document.getElementById('login-popup');
        const overlay = document.getElementById('overlay');
        const closeButton = document.querySelector('.close-btn');

        loginButton.onclick = function() {
            popup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }

        closeButton.onclick = function() {
            popup.style.display = 'none';
            overlay.style.display = 'none'; // Hide overlay
        }

        window.onclick = function(event) {
            if (event.target === overlay) {
                popup.style.display = 'none';
                overlay.style.display = 'none'; // Hide overlay
            }
        }
         
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById("password-input");
            const icon = document.querySelector(".toggle-password");
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.classList.replace("fa-eye", "fa-eye-slash");
            } else {
                passwordInput.type = "password";
                icon.classList.replace("fa-eye-slash", "fa-eye");
            }
        }


    </script>

</body>
</html>
