<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Landing.css') }}">
    <title>Document</title>
</head>
<body>
    <div id="login-popup" class="popup" style="display: none;">
        <div class="popup-content">
            <div class="left-side">
                <div id="green-logo">
                    <div id="logodesu" >
                        <img src="../static/images/png/Big-Logo.png" alt="Logo" class="Energreen-logo">
                    </div>

                    <div id="hello">
                        <p id="welcome">welcome to</p>
                        <p id="Namaewa" ><span id="Name-Span">Ener</span>Green</p>

                        <div class="welcome-message">
                            <p>Log in to start tracking your energy and start making a difference</p>
                        </div>
                        
                    </div>
                </div>

                <img id="left-partition" src="../static/images/png/login-partition.png" alt="left side" width="500" height="509" >
            </div>

            <div class="right-side">
                <div class="logsign">

                    <h1 id="login">Log in</h1>
                    
                    <div class="input-area">
                        <input id="username-input" type="text" id="username" placeholder="Username" required>

                        <div class="password-container">
                            <input id="password-input" type="password" placeholder="Password" required>
                            <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('password-input', this)"></i>
                        </div>

                    </div>
                    <div class="button-area">
                        <button class="to-enter-btn">LOGIN</button>
                    </div>
                    <div class="signin">
                        <p>Dont have and account yet? <span id="signin"><a id="signspan">Sign in</a></span></p>
                    </div>
        
                </div>
            </div>

        </div>
    </div>


    <div id="register-popup" class="regpopup" style="display: none;">
        <div class="popup-content">
            <div class="left-side">
                <div id="green-logo">
                    <div id="logodesu" >
                        <img src="../static/images/png/Big-Logo.png" alt="Logo" class="Energreen-logo">
                    </div>

                    <div id="hello">
                        <p id="welcome">welcome to</p>
                        <p id="Namaewa" ><span id="Name-Span">Ener</span>Green</p>

                        <div class="welcome-message">
                            <p>Register now to start tracking your energy and making a difference</p>
                        </div>
                        
                    </div>
                </div>

                <img id="left-partition" src="../static/images/png/login-partition.png" alt="left side" width="500" height="509" >
            </div>

            <div class="rightside-reg">
                <div class="logsign">

                    <p id="register">Create Account</p>
                    
                    <div class="input-area">
                            <input id="username-input" type="text" id="username" placeholder="Username" required>
                            <input id="username-input" type="text" id="email" placeholder="Username" required>

                            <div class="password-container">
                                <input id="acc-password-input" type="password" placeholder="Password" required>
                                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('acc-password-input', this)"></i>
                            </div>
                            
                            <div class="password-container">
                                <input id="confirm-password-input" type="password" placeholder="Confirm Password" required>
                                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('confirm-password-input', this)"></i>
                            </div>                        
                            
                        <div  class="button-area" id="donebtn">
                            <button class="done-btn" >DONE</button>
                        </div>
                        <div class="signin">
                            <p>Already Have an Account? <span id="signin"><a id="logspan">Log in</a></span></p>
                        </div>
        
                    </div>
                </div>

            </div>
        </div>
    </div>

    
    <div id="register-popup" class="regpopup" style="display: none;">
        <div class="popup-content">
            <div class="left-side">
                <div id="green-logo">
                    <div id="logodesu" >
                        <img src="../static/images/png/Big-Logo.png" alt="Logo" class="Energreen-logo">
                    </div>

                    <div id="hello">
                        <p id="welcome">welcome to</p>
                        <p id="Namaewa" ><span id="Name-Span">Ener</span>Green</p>

                        <div class="welcome-message">
                            <p>Register now to start tracking your energy and making a difference</p>
                        </div>
                        
                    </div>
                </div>

                <img id="left-partition" src="../static/images/png/login-partition.png" alt="left side" width="500" height="509" >
            </div>

            <div class="rightside-reg">
                <div class="logsign">

                    <p id="register">Create Account</p>
                    
                    <div class="input-area">
                            <input id="username-input" type="text" id="username" placeholder="Username" required>
                            <input id="username-input" type="text" id="email" placeholder="Username" required>

                            <div class="password-container">
                                <input id="acc-password-input" type="password" placeholder="Password" required>
                                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('acc-password-input', this)"></i>
                            </div>
                            
                            <div class="password-container">
                                <input id="confirm-password-input" type="password" placeholder="Confirm Password" required>
                                <i class="fas fa-eye toggle-password" onclick="togglePasswordVisibility('confirm-password-input', this)"></i>
                            </div>                        
                            
                        <div  class="button-area" id="donebtn">
                            <button>DONE</button>
                        </div>
                        <div class="signin">
                            <p>Already Have an Account? <span id="signin"><a id="logspan">Log in</a></span></p>
                        </div>
        
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="setup-page-popup" class="setup-popup" style="display: none;">
        <div class="setup-content">
            <div class="setuphead">
                <h1>Setup Virtual  Appliances</h1>
                <p id="setuptext">"Select from a wide range of essential and innovative appliances used within your home to enhance comfort,
                     convenience, and effecieny "</p>
            </div>
            <div class="sortbtn">
                <button>Sort By <img src="../static/images/svg/sortvec.svg" alt=""> </button>
            </div>
            <div class="selectAppliances">
                <div id="appliances-shelf">
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Air Conditioner</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">TV(Television)</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Amplifiers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Celing Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Rice Cooker</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Kettle</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lamp</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Refrigerator</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Desktop Computter</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Oven</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Laptop</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Stove</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electic Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Clothes Iron</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Portabel Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Radio</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Washing Machine</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Samrt Phones</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lighting</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Water Dispencer</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">RGB Lighting</div></a>

                    
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Air Conditioner</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">TV(Television)</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Amplifiers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Celing Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Rice Cooker</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Kettle</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lamp</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Refrigerator</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Desktop Computter</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Oven</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Laptop</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Stove</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electic Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Clothes Iron</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Portabel Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Radio</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Washing Machine</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Samrt Phones</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lighting</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Water Dispencer</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">RGB Lighting</div></a>

                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Air Conditioner</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">TV(Television)</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Amplifiers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Celing Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Rice Cooker</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Kettle</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lamp</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Refrigerator</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Desktop Computter</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Oven</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Laptop</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electric Stove</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Electic Fan</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Clothes Iron</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Portabel Speakers</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Radio</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Washing Machine</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Samrt Phones</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Lighting</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">Water Dispencer</div></a>
                    <a href=""> <div class="app"> <img src="../static/images/svg/addbtn.svg" alt="add button">RGB Lighting</div></a>
                </div>

            </div>
           
            <div class="confirmbtn">
                <button class="confirm-btn">Confirm</button>
            </div>
            <img id="solarbg" src="../static/images/png/SolarPanelBg.png" alt="set up page bg">
        </div>
    </div>
    
    <div id="panel-page-popup" class="panel-popup" style="display: none;">
        <div class="setup-content">
            <div class="setuphead">
                <h1>Pick Your Desired Solar Panel</h1>
                <p id="setuptext">"Select your ideal solar panel and watch you energy potential soar-let's simulate your journey 
                    to sustainable power!"</p>
            </div>

            <div class="SelectSolarPanel">
                
                <div class="solarpaneldiv" id="monocrystaline">
                    
                    <div class="solarname-switch">

                        <div class="solarname">
                            <p>Monocrystalline Solar Panels</p>
                        </div>

                        <div id="switch"> 
                            <label class="switch">
                                <input type="checkbox" class="solarSwitch">
                                <span class="slider"></span>
                            </label>
                        </div>

                    </div>
                    <div id="solardesc">
                        <p>Higly efficient, sleek back panels with a single crystal structure</p>
                    </div>

                    <div class="solarinfo-specifications">
                        <p id="sinf" >Solar Panel Information</p>
                        <p id="specs" >Specifications</p>
                        <hr>
                        <div id="watt"> 
                            <div id="watticon"><img src="../static/images/svg/watticon.svg" alt=""> </div>
                            <div id="wattcap">
                                <p id="wew1">Watt Capacity</p>
                                <p id="wew">Maxmum of 400 Watts</p>
                            </div>
                        </div>
                        
                        <div id="efficiency"> 
                            <div id="efficon"><img src="../static/images/svg/efficon.svg" width="22" height="20" alt="Effeciency Icon"></div>
                            <div id="wattcap">
                                <p id="wew1"> Efficiency</p>
                                <p id="wew">Average Efficiency of 20%</p>
                            </div>
                        </div>

                        <div id="tempt">
                            <div id="watticon"><img src="../static/images/svg/opicon.svg" alt=""> </div>
                            <div id="wattcap">
                                <p id="wew1">Optimal Temperature</p>
                                <p id="wew">Optimal Temperature of 25°c</p>
                            </div>

                        </div>
                    </div>
                    <div class="bottom">
                        <div class="quandiv">
                            <div class="Q">
                                <p>Quantity: <span>0</span> </p>
                            </div>
                            <div class="quanimg">
                                 <a href=""><img src="../static/images/svg/addbtn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="donesolar-btn">
                            <button  class="donesetsolar-btn">DONE</button>
                        </div>
                    </div>
                </div>

                <div class="solarpaneldiv" id="polycrystaline">
                    <div class="solarname-switch">

                        <div class="solarname">
                            <p>Polycyrstaline Solar Panels</p>
                        </div>

                        <div id="switch"> 
                            <label class="switch">
                                <input type="checkbox" class="solarSwitch">
                                <span class="slider"></span>
                            </label>
                        </div>

                    </div>
                    <div id="solardesc">
                        <p>Cost-effective bluish panels mades from mutiple crystal structures</p>
                    </div>

                    <div class="solarinfo-specifications">
                        <p id="sinf" >Solar Panel Information</p>
                        <p id="specs" >Specifications</p>
                        <hr>
                        <div id="watt"> 
                            <div id="watticon"><img src="../static/images/svg/watticon.svg" alt=""> </div>
                            <div id="wattcap">
                                <p id="wew1">Watt Capacity</p>
                                <p id="wew">Maxmum of 360 Watts</p>
                            </div>
                        </div>
                        
                        <div id="efficiency"> 
                            <div id="efficon"><img src="../static/images/svg/efficon.svg" width="22" height="20" alt="Effeciency Icon"></div>
                            <div id="wattcap">
                                <p id="wew1">Efficiency</p>
                                <p id="wew">Average Efficiency of 16%</p>
                            </div>
                        </div>

                        <div id="tempt">
                            <div id="watticon"><img src="../static/images/svg/opicon.svg" alt=""> </div>
                            <div id="wattcap">
                                <p id="wew1">Optimal Temperature</p>
                                <p id="wew">Optimal Temperature of 25°c</p>
                            </div>

                        </div>
                    </div>
                    <div class="bottom">
                        <div class="quandiv">
                            <div class="Q">
                                <p>Quantity: 0</p>
                            </div>
                            <div class="quanimg">
                                 <a href=""><img src="../static/images/svg/addbtn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="donesolar-btn">
                            <button  class="donesetsolar-btn">DONE</button>
                        </div>
                    </div>
                </div>

                <div class="solarpaneldiv" id="thinfilm">
                    <div class="solarname-switch">

                        <div class="solarname">
                            <p>Thin-Film Solar Panels</p>
                        </div>

                        <div id="switch"> 
                            <label class="switch">
                                <input type="checkbox" class="solarSwitch">
                                <span class="slider"></span>
                            </label>
                        </div>

                    </div>
                    <div id="solardesc">
                        <p>Lightweight and flexible panels, suitbale for various applications</p>
                    </div>

                    <div class="solarinfo-specifications">
                        <p id="sinf" >Solar Panel Information</p>
                        <p id="specs" >Specifications</p>
                        <hr>
                        <div id="watt"> 
                            <div id="watticon"><img src="../static/images/svg/watticon.svg" alt=""> </div>
                            <div id="wattcap">
                                <p class="watc" id="wew1">Watt Capacity</p>
                                <p id="wew">Maxmum of 300 Watts</p>
                            </div>
                        </div>
                        
                        <div id="efficiency"> 
                            <div id="efficon"><img src="../static/images/svg/efficon.svg" width="22" height="20" alt="Effeciency Icon"></div>
                            <div id="wattcap">
                                <p id="wew1">Efficiency</p>
                                <p id="wew">Average Efficiency of 11%</p>
                            </div>
                        </div>

                        <div id="tempt">
                            <div id="watticon"><img src="../static/images/svg/opicon.svg" alt=""> </div>
                            <div id="wattcap">
                                <p id="wew1">Optimal Temperature</p>
                                <p id="wew">Optimal Temperature of 25°c</p>
                            </div>

                        </div>
                    </div>
                    <div class="bottom">
                        <div class="quandiv">
                            <div class="Q">
                                <p>Quantity: 0</p>
                            </div>
                            <div class="quanimg">
                                 <a id="addquanbtn" href=""><img src="../static/images/svg/addbtn.svg" alt=""></a>
                            </div>
                        </div>
                        <div class="donesolar-btn">
                            <button  class="donesetsolar-btn">DONE</button>
                        </div>
                    </div>
                </div>

            </div>
           
            <img id="solarbg" src="../static/images/png/SolarPanelBg.png" alt="set up page bg">
        </div>
    </div>
    
    <div id="tariff-page-popup" class="setup-popup" style="display: block;">
        <div class="tariff-content">
                <div class="TariffHead">
                    <h1>Energy Tariffs</h1>
                    <p>Input Energy Providers and their respective rates</p>
                </div>
                 <!-- Dropdowns section -->
                    <div class="dropdown-section">
                        <div class="dropdown">
                            <label id="lab" for="provider1">Energy Provider</label>
                            <div class="select-wrapper">
                                <select id="provider1">
                                    <option value="" disabled selected>Select Energy Provider</option>
                                    <option value="" >MERALCO (Manila Electric)</option>
                                    <option value="" >VECO (Visayan Electric Company)</option>
                                    <option value="" >TORECO (Toledo City Electric Company)</option>
                                    <option value="" >CEBECO (Cebu Electric Cooperative)</option>
                                    <option value="" >Aboitiz Power Corporation</option>
                                </select>
                                <span class="dropdown-icon"> <img src="../static/images/svg/drdown-icon.svg"  alt=""> </span>
                            </div>
                        </div>

                        <div class="dropdown">
                            <label id="lab" for="provider2">Tariff Rate</label>
                            <div class="select-wrapper">
                                <select id="provider2">
                                    <option value="" disabled selected>Select Tariff Rate</option>
                                    <option value="" >₱ 10/kwH (average)</option>
                                    <option value="" >₱ 12/kwH (highest)</option>
                                    <option value="" >₱ 8/kwH (lowest)</option>
                                </select>
                                <span class="dropdown-icon"> <img src="../static/images/svg/drdown-icon.svg" alt=""> </span>
                            </div>
                        </div>

                        <div class="dropdown">
                            <label id="lab" for="provider3">Type of Tariff</label>
                            <div class="select-wrapper">
                                <select id="provider3">
                                    <option value="" disabled selected>Select Type of Tariff</option>
                                    <option value="" >Residential Tariff (Tiered Rate)</option>
                                    <option value="" >Time of Use Tariff (Peak/Off-Peak)</option>
                                </select>
                                <span class="dropdown-icon"> <img src="../static/images/svg/drdown-icon.svg" alt=""> </span>
                            </div>
                        </div>
                    </div>

                    <div class="donetariff-btn">
                        <a href="../templates/UserDashboardTemplate.html" class="donesetsolar-btn">DONE</a>
                    </div>
                    <img  id="tariffBG" src="../static/images/png/TariffPage.png" alt="set up page bg">
        </div>
    </div>
    
    <script>
        // Existing code for buttons and popups
        const loginButton = document.querySelector('.login'); // "Log In" button
        const signUpButton = document.querySelector('.sign-up'); // "Sign Up" button
        const startmonitoringButton = document.querySelector('.start-monitoring-button');
        const startmonitoringButton2 = document.querySelector('.start-monitoring-button2');
        const toEnterMonitoringSystem = document.querySelector('.to-enter-btn')
        const DoneRegisterButton = document.querySelector('.done-btn')
        const confirmButton = document.querySelector('.confirm-btn')

        const loginPopup = document.getElementById('login-popup');
        const registerPopup = document.getElementById('register-popup');
        const setupPagePopup = document.getElementById('setup-page-popup');
        const PanelsetupPagePopup = document.getElementById('panel-page-popup');
        const overlay = document.getElementById('overlay');
        const closeButtons = document.querySelectorAll('.close-btn');

        const doneSetupSolarButtons = document.querySelectorAll('.donesetsolar-btn');
        const tariffPagePopup = document.getElementById('tariff-page-popup');
        const panelSetupPagePopup = document.getElementById('panelsetup-page-popup'); // Assuming the correct ID for the other popup

        doneSetupSolarButtons.forEach(button => {
            button.onclick = function() {
                tariffPagePopup.style.display = 'block';
                overlay.style.display = 'block';
                PanelsetupPagePopup.style.display = 'none';
                setupPagePopup.style.display = 'none';
            };
        });


        // Select all .solarpaneldiv elements
        const solarPanels = document.querySelectorAll('.solarpaneldiv');

        // Loop through each .solarpaneldiv
        solarPanels.forEach(panel => {
            // Find the switch and target text elements within each panel
            const solarSwitch = panel.querySelector('.solarSwitch');
            const wattCapacityText = panel.querySelector('#wattcap p:nth-child(1)');
            const efficiencyText = panel.querySelector('#efficiency #wattcap p:nth-child(1)');
            const optimalTempText = panel.querySelector('#tempt #wattcap p:nth-child(1)');

            // Add event listener to toggle color on switch change
            solarSwitch.addEventListener('change', () => {
                const color = solarSwitch.checked ? '#30B938' : ''; // Set color when checked, reset when unchecked
                wattCapacityText.style.color = color;
                efficiencyText.style.color = color;
                optimalTempText.style.color = color;
            });
        });
        


        document.addEventListener('DOMContentLoaded', () => {
            const solarpanelDivs = document.querySelectorAll('.solarpaneldiv');
            const solarSwitches = document.querySelectorAll('.solarSwitch');
            
            // Set initial height and hide .bottom on page load
            solarpanelDivs.forEach(div => {
                div.style.height = '90%';
            });

            // Toggle height and visibility of .bottom when the switch is changed
            solarSwitches.forEach((switchElement, index) => {
                switchElement.addEventListener('change', () => {
                    const panelDiv = solarpanelDivs[index];
                    if (switchElement.checked) {
                        panelDiv.style.height = '105%';
                        panelDiv.classList.add('show'); // Show .bottom
                    } else {
                        panelDiv.style.height = '90%';
                        panelDiv.classList.remove('show'); // Hide .bottom
                    }
                });
            });
        });



        // Event listener for "Log In" button
        loginButton.onclick = function() {
            loginPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }

        // Event listener for "Sign Up" button
        signUpButton.onclick = function() {
            registerPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }

        startmonitoringButton.onclick = function() {
            registerPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }

        startmonitoringButton2.onclick = function() {
            registerPopup.style.display = 'block';
            overlay.style.display = 'block'; // Show overlay
        }
        toEnterMonitoringSystem.onclick = function(){
            setupPagePopup.style.display = 'block';
            overlay.style.display = 'block';
            if (loginPopup.style.display === 'block') {
                loginPopup.style.display = 'none';
            }if (registerPopup.style.display === 'block') {
                registerPopup.style.display = 'none';
            }
        }
        DoneRegisterButton.onclick = function(){
            setupPagePopup.style.display = 'block';
            overlay.style.display = 'block';
            if (loginPopup.style.display === 'block') {
                loginPopup.style.display = 'none';
            }if (registerPopup.style.display === 'block') {
                registerPopup.style.display = 'none';
            }
        }

        confirmButton.onclick = function(){
            PanelsetupPagePopup.style.display = 'block';
            overlay.style.display = 'block';
            if (setupPagePopup.style.display === 'block') {
                setupPagePopup.style.display = 'none';
            }
        }

        // Event listener for the Sign in link
        document.getElementById('signspan').onclick = function(event) {
            event.preventDefault(); // Prevent default link behavior
            // Hide the login popup if it's currently displayed
            if (loginPopup.style.display === 'block') {
                loginPopup.style.display = 'none';
            }
            // Show the register popup
            registerPopup.style.display = 'block'; 
            overlay.style.display = 'block'; // Show overlay
        }

        document.getElementById('logspan').onclick = function(event) {
            event.preventDefault(); // Prevent default link behavior
            // Hide the login popup if it's currently displayed
            if (registerPopup.style.display === 'block') {
                registerPopup.style.display = 'none';
            }
            // Show the register popup
            loginPopup.style.display = 'block'; 
            overlay.style.display = 'block'; // Show overlay
        }

        // Close buttons event
        closeButtons.forEach(button => {
            button.onclick = function() {
                loginPopup.style.display = 'none';
                registerPopup.style.display = 'none';
                overlay.style.display = 'none'; // Hide overlay
            }
        });

        // Close popup when clicking outside of it
        window.onclick = function(event) {
            if (event.target === overlay) {
                loginPopup.style.display = 'none';
                registerPopup.style.display = 'none';
                setupPagePopup.style.display = 'none';
                overlay.style.display = 'none';
                PanelsetupPagePopup.style.display = 'none';
                tariffPagePopup.style.display = 'none';
            }
        }

        // Toggle password visibility for a specified input
        function togglePasswordVisibility(inputId, iconElement) {
            const passwordInput = document.getElementById(inputId);
            
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                iconElement.classList.replace("fa-eye", "fa-eye-slash");
            } else {
                passwordInput.type = "password";
                iconElement.classList.replace("fa-eye-slash", "fa-eye");
            }
        }
      </script>
</body>
</html>