<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/SettingStyles.css">
    <title>User Management</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        html{
            font-family: 'poppons' ,sans-serif;
        }
    </style>
</head>
<body>
    <div class="settings-container">
        
            <div class="user-settings">
                <div id="settings-section">
                    <div class="settings-status">
                        <img src="../static/images/svg/profilenako.svg" alt="">
                        <div class="user-info">
                            <span id="settings-name">Nicholai</span>
                            <p>Admin</p>
                        </div>
                    </div>
                    <div class="change-pp">
                        <button>Upload New Photo</button>
                    </div>  
            </div>
            <hr>
            <div class="fname-mname">
                <div class="input-group">
                    <label for="fname-input">First Name</label>
                    <input type="text" id="fname-input" placeholder="eg. Kobe">
                </div>
                <div class="input-group">
                    <label for="mname-input">Middle Name</label>
                    <input type="text" id="mname-input" placeholder="eg. Bean">
                </div>
            </div>
            <div class="fname-mname">
                <div class="input-group">
                    <label for="fname-input">Last Name</label>
                    <input type="text" id="fname-input" placeholder="eg. Kobe">
                </div>
                <div class="input-group">
                    <label for="mname-input">User Name</label>
                    <input type="text" id="mname-input" placeholder="eg. Bean">
                </div>
            </div>
            <hr>
            <div class="fname-mname">
                <div class="input-group">
                    <label for="fname-input">Email Address</label>
                    <input type="text" id="fname-input" placeholder="eg. Kobe">
                </div>
                <div class="input-group">
                    <label for="mname-input">Phone Number</label>
                    <input type="text" id="mname-input" placeholder="eg. Bean">
                </div>
            </div>
            <hr>
            <div class="fname-mname">
                <div class="input-group">
                    <label for="fname-input">Address</label>
                    <input type="text" id="fname-input" placeholder="eg. Kobe">
                </div>
            </div>
            <hr>
            <div class="fname-mname">
                <div class="input-group">
                    <label for="fname-input">Current Password</label>
                    <input type="text" id="fname-input" placeholder="eg. Kobe">
                </div>
                <div class="input-group">
                    <label for="mname-input">New Password</label>
                    <input type="text" id="mname-input" placeholder="eg. Bean">
                </div>
            </div>
            <div class="fname-mname">
                <div class="input-group">
                    <label for="fname-input">Confirm Password</label>
                    <input type="text" id="fname-input" placeholder="eg. Kobe">
                </div>
            </div>
            <div class="change-pp" id="save-cancelbtn">
                <div id="save">
                    <button>Upload New Photo</button>
                </div>  
                <div id="save">
                    <button>Upload New Photo</button>
                </div>  
            </div>
        </div>
    </div>
</body>
</html>