<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/UserManagementStyles.css">
    <title>User Management</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        html{
            font-family: 'poppons' ,sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <div class="search-sort-filter">
            <div class="search-bar">
                <input type="text" placeholder="Search...">
                <span class="search-icon"><img src="../static/images/svg/Searchi-kun.svg" alt=""></span> <!-- Unicode for search icon -->
            </div>
            <button class="sort-btn"> <img src="../static/images/svg/Sort-i-kun.svg" alt=""> Sort <img src="../static/images/svg/white-expand.svg" alt=""></button>
            <button class="filter-btn"> <img src="../static/images/svg/Filter-i-kun.svg" alt="">Filter <img src="../static/images/svg/Expand-i-kun.svg" alt=""></button>
        </div>
        
        <div class="user-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>IDNO</th>
                        <th>Email</th>
                        <th>Phone No.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            <div class="name-cell">
                                <img src="../static/images/svg/pfp1.svg" alt="">
                                Leslie Maya
                            </div>
                        </td>
                        <td>1001</td>
                        <td>leslie@gmail.com</td>
                        <td>
                            <div class="numcell">
                                0926455451 
                                <img src="../static/images/svg/dotdotdot.svg" alt="">
                            </div>
                        </td>
                      
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            <div class="name-cell">
                                <img src="../static/images/svg/pfp2.svg" alt="">
                                Josie Deck
                            </div>
                        </td>
                        <td>1002</td>
                        <td>josie@gmail.com</td>
                        <td>
                            <div class="numcell">
                                0926455451 
                                <img src="../static/images/svg/dotdotdot.svg" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            <div class="name-cell">
                                <img src="../static/images/svg/pfp3.svg" alt="">
                                Alex Pfeiffer
                            </div>
                        </td>
                        <td>1003</td>
                        <td>alex@gmail.com</td>
                        <td>
                            <div class="numcell">
                                0926455451 
                                <img src="../static/images/svg/dotdotdot.svg" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            <div class="name-cell">
                                <img src="../static/images/svg/pfp4.svg" alt="">
                                Mike Dean
                            </div>
                        </td>
                        <td>1004</td>
                        <td>mike@gmail.com</td>
                        <td>
                            <div class="numcell">
                                0926455451 
                                <img src="../static/images/svg/dotdotdot.svg" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            <div class="name-cell">
                                <img src="../static/images/svg/pfp5.svg" alt="">
                                Mateus Cunha
                            </div>
                        </td>
                        <td>1005</td>
                        <td>cunha@gmail.com</td>
                        <td>
                            <div class="numcell">
                                0926455451 
                                <img src="../static/images/svg/dotdotdot.svg" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            <div class="name-cell">
                                <img src="../static/images/svg/pfp6.svg" alt="">
                                Nzola Uemo
                            </div>
                        </td>
                        <td>1006</td>
                        <td>nzola@gmail.com</td>
                        <td>
                            <div class="numcell">
                                0926455451 
                                <img src="../static/images/svg/dotdotdot.svg" alt="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            <div class="name-cell">
                                <img src="../static/images/svg/pfp7.svg" alt="">
                                Antony Mack
                            </div>   
                        </td>
                        <td>1007</td>
                        <td>mack@gmail.com</td>
                        <td>
                            <div class="numcell">
                                0926455451 
                                <img src="../static/images/svg/dotdotdot.svg" alt="">
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>